<%- include('header.ejs'); %>
<div class="container">
    <h1 class="my-4">Artworks</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Year</th>
                <th>Medium</th>
                <th>Artist ID</th>
            </tr>
        </thead>
        <tbody>
            <% artworks.forEach(artwork => { %>
                <tr>
                    <td><%= artwork.id %></td>
                    <td><%= artwork.title %></td>
                    <td><%= artwork.year_created %></td>
                    <td><%= artwork.medium %></td>
                    <td><%= artwork.name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('footer.ejs'); %>
